extends ../../layouts/default.pug
include ../../mixins/alert-error.pug
include ../../mixins/category-tree.pug
block main

    if(permissions.role.includes('roles-edit'))
        -if(messages.error)
            +alert-danger(2000)
        -if(messages.success)
            .alert-success #{messages.success}
        form(
            action=`/admin/roles/edit/${item.id}?_method=PATCH`
            method="POST"
            id="form-create"
        )
            .row
                .col-12
                    label(for="title") Nhập tiêu đề
                    input(type="text" placeholder="Tiêu đề" name="title" id="title" value=item.title) 
                .col-12
                    label(for="description") Nhập mô tả
                    textarea(name="description" id="description" placeholder="Nhập mô tả") #{item.description}
                .col-12
                    button(type="submit") Chỉnh sửa

        script(src="/admin/js/create-page.js")