extends ../../layouts/default.pug
include ../../mixins/alert-error.pug
include ../../mixins/category-tree.pug
block main
    if(permissions.role.includes('products-category-edit'))

        -if(messages.error)
            +alert-danger(2000)
        -if(messages.success)
            .alert-success #{messages.success}

        form(
            action=`/admin/products-category/edit/${category.id}?_method=PATCH`
            method="POST"
            id="form-create"
            enctype="multipart/form-data"
        )
            .row
                .col-12
                    label(for="title") Nhập tên sản phẩm 
                    input(type="text" placeholder="Tên sản phẩm" name="title" id="title" value=category.title)

                .col-12
                    label(for="description") Nhập mô tả
                    textarea(name="description" id="description" placeholder="Nhập mô tả") #{category.description} 
                .col-12
                    label(for="parentID") Danh mục cha
                    select(name="parentID" id="parentID")
                        option(value="") Chọn danh mục cha
                        +category-tree(listCategory, 0, category.parentID)
                    
                .col-12
                    label(for="thumbnail") Ảnh
                    input(type="file" name="thumbnail" id ="thumbnail" accept="image/*")  

                .col-4
                    .preview-image
                        img(src=category.thumbnail, alt="moi")
                        button(close-preview type="button") x

                .col-12
                    label(for="position") Nhập vị trí
                    input(type="number" name="position" placeholder="Nhập vị trí" id="position" value=category.position)
                
                .col-12
                    label(for="status") Trạng thái

                .col-12
                    .row 
                        .col-6.row
                            .col-6 
                                label(for="act") Hoạt động
                            .col-6
                                input(type="radio" name="status" value="active" id="act" checked=(category.status="active"?true:false))
                    
                        .col-6.row
                            .col-6 
                                label(for="inact") Dừng hoạt động
                            .col-6 
                                input(type="radio" name="status" value="inactive" checked=(category.status="active"?false:true))    

                .col-12
                    button(type="submit") Chỉnh sửa

        script(src="/admin/js/create-page.js")