extends  ../../layouts/default.pug

block main
    h2 Trang tổng quan
    .container 
        .row 
            .col-4
                div(class="card", style="width: 18rem;")
                    div(class="card-body")
                        h5(class="card-title") Danh mục sản phẩm
                        p(class="card-text") Số lượng : #{productsCategory.qtt}
                        p(class="card-text") Hoạt động : #{productsCategory.active}
                        p(class="card-text") Dừng hoạt động : #{productsCategory.inactive}
            .col-5
                div(class="card", style="width: 18rem;")
                    div(class="card-body")
                        h5(class="card-title") Sản phẩm
                        p(class="card-text") Số lượng : #{products.qtt}
                        p(class="card-text") Hoạt động : #{products.active}
                        p(class="card-text") Dừng hoạt động : #{products.inactive}
            .col-4
                div(class="card", style="width: 18rem;")
                    div(class="card-body")
                        h5(class="card-title") Tài khoản admin
                        p(class="card-text") Số lượng : #{accounts.qtt}
                        p(class="card-text") Hoạt động : #{accounts.active}
                        p(class="card-text") Dừng hoạt động : #{accounts.inactive}
            .col-5
                div(class="card", style="width: 18rem;")
                    div(class="card-body")
                        h5(class="card-title") Tài khoản client
                        p(class="card-text") Số lượng : #{users.qtt}
                        p(class="card-text") Hoạt động : #{users.active}
                        p(class="card-text") Dừng hoạt động : #{users.inactive}
                        

    
